:root {
  --offwhite: #fefaf6;
  --pink:rgb(217, 242, 246);
  --yellow:rgb(232, 229, 213);
  --text: #333;
  --accent:rgb(43, 32, 143);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Helvetica Neue', sans-serif;
}

body {
  background-color: var(--offwhite);
  color: var(--text);
  line-height: 1.6;
  padding: 2rem;
  position: relative;
  overflow-x: hidden;
}

header {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 0 20px;
}

header nav {
  margin-left: auto;
}

header h1 {
  margin-bottom: 0.5rem;
  font-size: 1.5rem;
  color: var(--text);
}

nav a {
  margin: 0 1rem;
  text-decoration: none;
  color: var(--text);
  font-weight: 200;
}

nav a:hover {
  color: var(--accent);
}

#about {
  background-color: var(--pink);
  padding: 0px 10px;
}

#education {
  background-color: var(--offwhite);
  padding: 0px 10px;
}

#projects {
  background-color: var(--pink);
  padding: 0px 10px;
}

footer {
  text-align: center;
  padding: 1rem;
  margin-top: 2rem;
  font-size: 0.9rem;
  color: #666;
  z-index: 1;
  position: relative;
}

/* Abstract elements */
.abstract-shape {
  position: absolute;
  border-radius: 50%;
  filter: blur(40px);
  opacity: 0.4;
  z-index: 0;
}

.shape1 {
  width: 300px;
  height: 300px;
  background: var(--pink);
  top: -100px;
  left: -100px;
}

.shape2 {
  width: 400px;
  height: 400px;
  background: var(--yellow);
  bottom: -150px;
  right: -150px;
}
